<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-resource/angular-resource.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-messages/angular-messages.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-material/angular-material.js"></script>

    <script src="js/loginPage.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div ng-app="CRM" ng-controller="main" class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="">
        <div class="dialog-demo-content" ng-init="showLoginDialog($event)"
             layout="row" layout-wrap="" layout-margin="" layout-align="center">
        </div>
        <div ng-if="showInfo">
            <label class="base">Имя: {{customer.firstName}}</label>
            <label class="base">Фамилия: {{customer.lastName}}</label>
            <label class="base">email: {{customer.email}}</label>
            <label class="base">Номер телефона: {{customer.telNumber}}</label>
            <label class="base">Город: {{customer.city}}</label>
            <label class="base">Дата рождения: {{customer.birthday}}</label>
            <label class="base" style="padding: 12px 12px 0 12px">Заказы:</label>
            <div ng-repeat="order in customerOrders track by $index">
                <label class="order" style="padding-top: 8px">Дата: {{order.date}}</label>
                <label class="order">Статус: {{order.status}}</label>
                <label class="order">Товары:</label>
                <div ng-repeat="item in order.items">
                    <label class="item">Наиманование: {{item.name}}</label>
                    <label class="item">Количество: {{item.amount}}</label>
                    <label class="item">Цена, за ед.: {{item.price + item.currency}}</label>
                </div>
            </div>
            <md-button class="md-primary md-raised" ng-click="showLoginDialog($event)">
                Выход
            </md-button>
            <md-button class="md-primary md-raised" ng-click="loadCustomer()">
                Обновить
            </md-button>
        </div>
    </div>
</body>
</html>